<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <!-- <div *ngIf="onlyOdd == true">
          <li
            class="list-group-item"
            *ngFor="let oddNumber of oddNumbers"
            [ngClass]="{ odd: oddNumber % 2 !== 0 }"
            [ngStyle]="{
              backgroundColor: oddNumber % 2 !== 0 ? 'yellow' : 'transparent'
            }"
          >
            {{ oddNumber }}
          </li>
        </div> -->
        <div *appUnless="!onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let oddNumber of oddNumbers"
            [ngClass]="{ odd: oddNumber % 2 !== 0 }"
            [ngStyle]="{
              backgroundColor: oddNumber % 2 !== 0 ? 'yellow' : 'transparent'
            }"
          >
            {{ oddNumber }}
          </li>
        </div>
        <div *ngIf="onlyOdd == false">
          <li
            class="list-group-item"
            *ngFor="let evenNumber of evenNumbers"
            [ngClass]="{ odd: evenNumber % 2 !== 0 }"
            [ngStyle]="{
              bankgroundColor: evenNumber % 2 !== 0 ? 'yellow' : 'transparent'
            }"
          >
            {{ evenNumber }}
          </li>
        </div>
      </ul>
      <p appBasicHighlight>something needs to be hightlighted</p>
      <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">
        something needs to be hightlighted
      </p>

      <div [ngSwitch]="value">
        <p *ngSwitchCase="10">value 10</p>
        <p *ngSwitchCase="1">value 1</p>
        <p *ngSwitchCase="2">value 2</p>
        <p *ngSwitchCase="3">value 3</p>
      </div>
    </div>
  </div>
</div>
